*{
    margin: 0;
    font-family: sans-serif;
    color: white;
}
body{
    background-color: rgb(15, 15, 15);
    width: 100%;
}
::-moz-selection {
    color: black;
    background: rgba(255, 255, 255, 0.9);
  }
  
  ::selection {
    color: black;
    background: rgba(255, 255, 255, 0.9);
  }
.holder{
    margin-top: 1.5em;
    text-align: center;
}
.proj-holder{
    margin-top: 1em;
    text-align: left;
    left: 50%;
    display: inline-block;
}
.links-holder{
    margin-top: 1em;
    text-align: left;
    left: 50%;
    display: inline-block;
}
.proj-title{
    margin-top: 3em;
    font-size: 160%;
}
.links-title{
    margin-top: 2em;
    font-size: 160%;
}
a{
    color:rgb(5, 0, 71)
}