*{
    font-family: sans-serif;
    margin: 0;
    color: #c8c8c8;
}
body{
    background-color: #2a2a2a;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
    min-height: 100vh;
}
html{
    height: 100%;
}
.main-div{
    text-align: center;
    margin: 15px;
}
.cool-span{
    color: #2F6CDB;
    text-shadow: 2px 2px #003ba8;
}
.cool-span2{
    color: #c3e75f;
    text-shadow: 2px 2px #6e9600;
}
.content-div-element{
    margin-bottom: 7em;
}
.content-div{
    text-align: center;
    margin-top: 4em;
}
.tech-blocks .tech-block{
    vertical-align: top;
    display: inline-block;
    height: 8em;
    width: 15em;
    box-shadow: 1px 1px 30px #c3e75f;
    outline: 3px solid black;
    border-radius: 25px;
    margin-top: 3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    background-color: #c8c8c8;
}
.tech-title{
    color: black;
    margin-top: 6px;
    font-size: 110%;
}
.tech-list{
    margin-left: 2em;
    margin-top: 7px;
    text-align: left;
}
.tech-list h5{
    font-size: 100%;
    color: black;
    margin: 2px;
}
.contact-div{
    vertical-align: bottom;
    position: fixed;
    bottom: 0;
    background-color: #1e1e1e;
    width: 100%;
    height: 4em;
    margin: 0;
    text-align: left;
}
.contact-div .contact-title{
    margin-left: 20px;
    margin-top: 0.5em;
}
footer{
    min-height: 4em;

}


/* scroll bar */
::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #bbd9fb;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}