*{
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #080307;
    color: white;
    outline: none;
}
.header{
    text-align: center;
    margin-bottom: 3em;
}
.content{
    margin-top: 5em;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.element{
    color: white;
    height: 25em;
    width: 22em;
    margin: 10px;
}
.blocks{
    text-align: center;
}

.blocks div{
    text-align: left;
    left: 50%;
    display: inline-block;
}
.links{
    margin-top: 50px;
}
.links div{
    display: inline-block;
}
.links img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.projects{
    font-size: 100%;
}
.projects .p-link{
    list-style-type: none;
    display: list-item;
    cursor: pointer;
}
.projects h3{
    margin: 7px;
    margin-bottom: 20px;
}
.p-desc{
    margin: 10px;
    margin-bottom: 30px;
}
.p-link{
    margin: 10px;
    color: rgb(240, 240, 240);
}
.p-link-other{
    font-size: 110%;
}
.a-k-link{
    color: white;
}
.aboutme li{
    margin: 5px;
    font-size: 110%;
}


@media screen and (max-device-width: 410px){
    
    .projects{
        font-size: 90%;
    }
    .aboutme {
        font-size: 90%;
    }
    .element{
        color: white;
        height: 22em;
        width: 19em;
        margin: 10px;
    }

}
